@media screen and (max-width: 800px) {
  .rasm img {
    width: 90vw;
  }
}
@media screen and (min-width: 1200px) {
  .containr {
    margin-left: 300px;
    margin-right: 300px;
  }
}
.text {
  font-weight: 50px;
  line-height: 150%;
}
.mavzu {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 15pt;
  font-family: "Times New Roman";
}

.sarlavha {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.rasm {
  text-align: center;
}
.img_gap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 120px;
}
